<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <p ng-bind="::challengeCtrl.prose"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="button-float" data-toggle="modal" data-target="#myModal">
    <img src="/svg/icon-read.svg" alt="">
</div> -->
<div class="button-float" ng-morph-overlay="settings">
    <img src="/svg/icon-read.svg" alt="">
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3 header">{{challengeCtrl.score}}</div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-6 header">{{challengeCtrl.currentIndex + 1}} / {{::challengeCtrl.quiz.objects.length}}</div>
                <!-- {{challengeCtrl.time | date:'mm:ss'}} -->
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3 header">{{challengeCtrl.getElapsedTime()}}</div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div ng-show="$index == challengeCtrl.currentIndex" ng-repeat="question in ::challengeCtrl.quiz.objects">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p class="question-title" ng-bind="::question.node.title"></p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <ul class="option-group">
                                <li class="option-group-item" ng-class="{ 'selected' : option.key == question.selected }" ng-bind="::option.option" ng-repeat="(key, option) in ::question.node.type.content.options" ng-click="challengeCtrl.selectOption(option.key)"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-fixed-bottom text-center padding-bottom">
    <button class="sbtn sbtn-submit" ng-click="challengeCtrl.submit();challengeCtrl.next()"></button>
</div>
