<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Score</div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">Question count</div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Time</div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    Question title
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Read</button>
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                    <div class="list-group">
                        <a class="list-group-item">hello</a>
                        <a class="list-group-item">hello</a>
                        <a class="list-group-item">hello</a>
                        <a class="list-group-item">hello</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <button class="btn btn-primary" ui-sref="result">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
