<container>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <form ng-submit="dateCtrl.setMeta(dateCtrl.meta)">
                <div class="form-group">
                    <label>Current Date</label>
                    <input type="text" class="form-control" ng-model="dateCtrl.meta.current_date">
                </div>
                <div class="form-group">
                    <label>Threshold</label>
                    <input type="text" class="form-control" ng-model="dateCtrl.meta.threshold">
                </div>
                <div class="form-group" ng-repeat="challenge in ::dateCtrl.meta.range">
                    <h3>Challenge {{$index+1}}</h3>
                    <label>Start Date</label>
                    <input type="text" class="form-control" placeholder="date" ng-model="challenge.start">
                    <label>End Date</label>
                    <input type="text" class="form-control" placeholder="date" ng-model="challenge.end">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" id="saveBtn" data-loading-text="Saving..." class="btn btn-primary" autocomplete="off">Save</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-warning" type="button" id="syncBtn" data-loading-text="Syncing..." class="btn btn-primary" autocomplete="off" ng-click="dateCtrl.syncChallenge()">Sync</button>
                </div>
            </form>
        </div>
    </div>
</container>
