<div class="container ">
    <div class="row padding-top">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center padding-top">
            <img src="svg/guide-ribbon.svg" alt="">
            <div class="owl-carousel owl-theme padding-top" carousel>
              <div class="slide">
                <img src="img/map.png" alt="">
                <h3 class="font-dark-blue">Complete 15 lessons to unlock new challenge quiz</h3>
              </div>
              <div class="slide">
                <img src="img/challenge.png" alt="">
                <h3 class="font-dark-blue">Solve 6 challenges</h3>
              </div>
              <div class="slide">
                <img src="img/share.png" alt="">
                <h3 class="font-dark-blue">Share the app to get more points</h3>
              </div>              
              <div class="slide">
                <img src="img/prize.png" alt="">
                <h3 class="font-dark-blue">You can win prizes every Sunday</h3>
              </div>
              <div class="slide">
                <img src="img/leaderboard.png" alt="">
                <h3 class="font-dark-blue">The top 25 will be invited to the final round</h3>
              </div>
            </div>
            <button class="sbtn sbtn-next" ui-sref="home({accountid: guideCtrl.accountid, userid : guideCtrl.userid, token : guideCtrl.token, grade : guideCtrl.grade})"></button>
        </div>
    </div>
</div>
