<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 nav-bar-padding">
            <div>
                <!-- Nav tabs -->
               
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="challenge">
                        <div ng-repeat="challenge in ::homeCtrl.challenges">
                            <div ng-if="challenge.meta.active">
                                <div class="panel panel-ed">
                                    <div class="panel-heading" ng-class="{'attempted' : challenge.meta.attempted}">
                                        <h2>
                                            {{:: challenge.node.title}}
                                            <span ng-show="challenge.meta.attempted" class="score">{{:: challenge.meta.total_points_earned}}</span>
                                        </h2>
                                    </div>
                                    <div class="panel-body" ng-show="!challenge.meta.attempted">
                                        <div class="media">
                                            <div class="media-left">
                                                <a>
                                                    <img ng-src="svg/icon-checkbox-{{challenge.meta.locked ? 'unchecked' : 'checked'}}.svg" alt="">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h3 class="media-heading font-dark-blue" ng-bind="::'Complete '+challenge.meta.threshold+' lessons'"></h3>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{::homeCtrl.getProgress(challenge.meta.total_nodes_consumed, challenge.meta.threshold)}}" aria-valuemin="0" aria-valuemax="100" style="width: {{::homeCtrl.getProgress(challenge.meta.total_nodes_consumed, challenge.meta.threshold)}}%">
                                                        {{::challenge.meta.total_nodes_consumed}}
                                                        <span class="sr-only">{{::homeCtrl.getProgress(challenge.meta.total_nodes_consumed, challenge.meta.threshold)}}% Complete (success)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <i class="media-object glyphicon glyphicon-ok-sign"></i>
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h3 class="media-heading font-dark-blue" ng-bind="::'Solve '+challenge.meta.total_questions+' questions'"></h3>
                                            </div>
                                        </div> -->
                                    </div>
                                    <!-- ng-show="!challenge.meta.locked" -->
                                    <div class="panel-footer text-center" ng-show="!challenge.meta.locked && !challenge.meta.attempted">
                                        <button class="sbtn sbtn-quiz" ng-click="homeCtrl.startChallenge(challenge.objects[0])"></button>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="!challenge.meta.active">
                                <div class="panel panel-ed inactive">
                                    <div class="panel-heading">
                                        <h2 ng-bind="::challenge.node.title"></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="leaderboard">
                        <div ng-include src="'/leaderboard.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-fixed-top text-center padding bg-cream">
     <ul class="switch-tab">
        <li class="tab active">
            <a data-target="#challenge" aria-controls="challenge" role="tab" data-toggle="tab" ng-click="homeCtrl.showLeaderBoard=false">
                <i class="icon-challenge font-title"></i>
            </a>
        </li>
        <li class="tab">
            <a data-target="#leaderboard" aria-controls="leaderboard" role="tab" data-toggle="tab" ng-click="homeCtrl.showLeaderBoard=true">
                <i class="icon-leaderboard font-title"></i>
            </a>
        </li>
    </ul>
</div>
<!-- <div class="navbar navbar-fixed-bottom text-center padding bg-cream">
    <button class="sbtn sbtn-back" ng-click="homeCtrl.goBacktoMap()"></button>
</div> -->
<div class="navbar navbar-fixed-bottom text-center padding bg-cream">
    <button class="sbtn sbtn-map-small" ng-click="homeCtrl.goBacktoMap()"></button>
    <button ng-show="homeCtrl.showLeaderBoard" class="sbtn sbtn-share" ng-click="homeCtrl.shareScore(homeCtrl.points)" ></button>
</div>