<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#challenge" aria-controls="challenge" role="tab" data-toggle="tab">
                            <i class="glyphicon glyphicon-gift"></i> Challenges
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#leaderboard" aria-controls="leaderboard" role="tab" data-toggle="tab">
                            <i class="glyphicon glyphicon-tower"></i> Leaderboard
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="challenge">
                        <div class="list-group">
                            <a href="#" class="list-group-item active">
                                <i class="glyphicon glyphicon-tower"></i>
                            </a>
                            <a ui-sref="challenge" class="list-group-item">Week 2 : Upcoming</a>
                            <a ui-sref="challenge" class="list-group-item">Week 3 : Upcomming</a>
                            <a ui-sref="challenge" class="list-group-item">Week 4 : Upcomming</a>
                            <a ui-sref="challenge" class="list-group-item">Week 5 : Upcomming</a>
                            <a ui-sref="challenge" class="list-group-item">Week 6 : Upcomming</a>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="leaderboard">
                        <div class="list-group">
                            <a href="" class="list-group-item">
                                <span class="badge">32045</span>
                                1. Alia
                            </a>
                            <a href="" class="list-group-item">
                                <span class="badge">23049</span>
                                2. Heli
                            </a>
                            <a href="" class="list-group-item">
                                <span class="badge">23094</span>
                                3. Harsha
                            </a>
                            <a href="" class="list-group-item">
                                <span class="badge">30894</span>
                                5005. Gopal
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
