<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#challenge" aria-controls="challenge" role="tab" data-toggle="tab">
                            <i class="glyphicon glyphicon-gift"></i> Challenges
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#leaderboard" aria-controls="leaderboard" role="tab" data-toggle="tab">
                            <i class="glyphicon glyphicon-tower"></i> Leaderboard
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="challenge">
                        <div class="list-group">
                            <a href="#" class="list-group-item active">
                                <i class="glyphicon glyphicon-tower"></i>
                            </a>
                            <a class="list-group-item" ng-repeat="challenge in ::homeCtrl.challenges" ng-click="homeCtrl.startChallenge(challenge.objects[0])">
                              <i class="glyphicon glyphicon-tower"></i>
                              <span ng-bind="::challenge.node.title"></span>
                            </a>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="leaderboard">
                        <div class="list-group">
                            <a href="" class="list-group-item" ng-repeat="user in ::homeCtrl.leaderboard">
                                <span class="badge" ng-bind="::user.points"></span>
                                <span ng-bind="::user.rank+'. '+user.username"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
