<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <ul class="leaderboard">
        <li class="leaderboard-user" ng-class="::mapRank(rank)" ng-repeat="(rank, user) in ::leaderboard">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object" ng-src="{{::'/svg/'+mapRank(rank)+'.svg'}}" alt="">
                    </a>
                </div>
                <div class="media-body">
                    <img class="pull-right" src="/svg/icon-share.svg" alt="">
                    <h3 class="media-heading" ng-bind="::user.username"></h3>
                    <span ng-bind="::user.points+' points'"></span>
                </div>
            </div>
        </li>
    </ul>
</div>
