<div class="container reading-comprehension ">
    <div class="row">
        <span class="glyphicon glyphicon-remove close pull-right"></span>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="scroll font-dark-blue">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quo dolores perspiciatis consequuntur obcaecati dignissimos, fugit mollitia cupiditate in accusamus. A ipsum obcaecati fugit, perspiciatis fuga tempore voluptas illo id?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quo dolores perspiciatis consequuntur obcaecati dignissimos, fugit mollitia cupiditate in accusamus. A ipsum obcaecati fugit, perspiciatis fuga tempore voluptas illo id?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quo dolores perspiciatis consequuntur obcaecati dignissimos, fugit mollitia cupiditate in accusamus. A ipsum obcaecati fugit, perspiciatis fuga tempore voluptas illo id?</p>
            </div>
            <div class="padding text-center">
                <button class="sbtn sbtn-next"></button>
            </div>
        </div>
    </div>
</div>
